{% extends 'accounts/base_accounts.html' %}
{% load static %}
{% block content %}
<div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="row w-100 m-0">

        <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
            <div class="card col-lg-5 mx-auto">
                <div class="card-body px-5 py-5">

                    {% include 'accounts/account_errors.html' %}

                    <h2 class="card-title mb-3" style="text-align: center;">Password Reset</h2>

                    <div class="alert alert-success" style="text-align: center;" role="alert">We've sent you an Email. Just follow the instructions to reset your password. Check Your Inbox or Junk/Spam</div>

                    <a class="text-center" style="text-decoration: none;" href="{% url 'login' %}">
                            <button class="btn btn-primary btn-block enter-btn">Back To Login</button>
                    </a>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- row ends -->
</div> 



    

    {% endblock %}