Django==4.2
Pillow==9.5.0
python-decouple==3.8

# Which view shold i use ListView or View, Views usage or Function base if not CRUD
# can i use mix base view like for CURD class and for others Function
# Uses of ForeignKey ask, how to link the data
# profile pic changed to default on other views excpet view profile view



# libgen.rs for downloading any books
# django 4 by example read this book