{% load static %}

<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright ©
            Mahesh Dangol 2023</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
            <a href="https://resumemahesh.pythonanywhere.com/" target="_blank">Project
                From Mahesh Dangol
            </a> for Broadways Infosys</span>
    </div>
</footer>