{% load static %}

<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
    <a class="sidebar-brand brand-logo" href="{% url 'home' %}"
      style="color: wheat; font-family: Noto Serif; font-weight: bold; text-decoration: none;">SPEND TRACKER</a>
    <a class="sidebar-brand brand-logo-mini" href="{% url 'home' %}"
      style="color: wheat; font-family: Noto Serif; font-weight: bold; text-decoration: none;">ST</a>
  </div>
  <ul class="nav">
    <li class="nav-item profile">
      <div class="profile-desc">
        <div class="profile-pic">
          <div class="count-indicator">
            <img class="img-xs rounded-circle " src="{% static 'assets/images/faces/face15.jpg' %}" alt="">
            <span class="count bg-success"></span>
          </div>
          <div class="profile-name">
            <h5 class="mb-0 font-weight-normal">Mahesh Dangol</h5>
            <span>Gold Member</span>
          </div>
        </div>
        <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
        <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
          <a href="#" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-settings text-primary"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-onepassword  text-info"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-calendar-today text-success"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
            </div>
          </a>
        </div>
      </div>
    </li>

    <!-- Side Menu Start From Here-->

    <li class="nav-item nav-category">
      <span class="nav-link">Navigation</span>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="{% url 'home' %}">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <li class="nav-item menu-items">
      <a class="nav-link" href="{% url 'cash-in-detail' %}">
        <span class="menu-icon">
          <i class="mdi mdi-cash-multiple"></i>
        </span>
        <span class="menu-title">Cash InFlow</span>
      </a>
    </li>

    <li class="nav-item menu-items">
      <a class="nav-link" href="{% url 'cash-out-detail' %}">
        <span class="menu-icon">
          <i class="mdi mdi-cash-100"></i>
        </span>
        <span class="menu-title">Cash OutFlow</span>
      </a>
    </li>

    <li class="nav-item menu-items">
      <a class="nav-link" href="{% url 'category' %}">
        <span class="menu-icon">
          <i class="mdi mdi-library-plus"></i>
        </span>
        <span class="menu-title">Add Category</span>
      </a>
    </li>
    

    <li class="nav-item menu-items">
      <a class="nav-link" href="{% url 'statement' %}">
        <span class="menu-icon">
          <i class="mdi mdi-note-text"></i>
        </span>
        <span class="menu-title">Full Statement</span>
      </a>
    </li>

    <li class="nav-item menu-items">
      <a class="nav-link" href="#">
        <span class="menu-icon">
          <i class="mdi mdi-calendar-check"></i>
        </span>
        <span class="menu-title">ToDo</span>
      </a>
    </li>

    <li class="nav-item menu-items">
      <a class="nav-link" href="#">
        <span class="menu-icon">
          <i class="mdi mdi-calculator"></i>
        </span>
        <span class="menu-title">Calculator</span>
      </a>
    </li>

  </ul>
</nav>