{% extends 'base/base.html' %}

{% block content %}
<div class="col-12 grid-margin stretch-card" style="color: aquamarine; justify-content: center;">
    <h1>Add New Income</h1>
</div>
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                {{message}}
            </div>
            {% endfor %}
            {% endif %}

            <form class="forms-sample" method="POST">
                {% csrf_token %}

                {{form.as_p}}

                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <a class="btn btn-dark" href="{% url 'cash-in-detail' %}">Cancel</a>
            </form>
        </div>
    </div>
</div>

{% endblock content %}