.delete-confirmation{
    color: firebrick;
}

.my_balance_col{
    display: flex;
    justify-content: center;
    align-items: center;
}

.my_balance_level{
    color: lawngreen;
}

.my_balance_high{
    color: red;
}

.my_balance_p_msg{
    color: limegreen; 
    text-align: center;
}

.my_balance_n_msg{
    color: indianred; 
    text-align: center;
}

.my_balance_mtext{
    font-size: larger;
}

.wrapped-cell {
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-word-break: break-all;
}


