{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center text-break">Search Result in <br><span style="color: green;">CASH INFLOW</span> </h4>
                {% for items in search.cash_in %}
                <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                    <div class="text-md-center text-xl-left">
                        <h6 class="mb-1">{{items.note|title}}</h6>
                        <h6 class="mb-1">{{items.mode|title}}</h6>
                        <p class="text-muted mb-0 "><em>Added @ {{items.date}} <br> Updated @ {{items.modified_at}} </em></p>
                    </div>
                    
                    <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                        <h6 class="font-weight-bold mb-0">{{items.type|title}} <br><br> {{items.amount}} </h6>
                    </div>
                </div>
                {% empty %}
                <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                    <div class="text-md-center text-xl-left">
                        <h6 class="mb-1">No Items Found</h6>
                    </div>
                </div>
                {% endfor %}  
            </div>
        </div>
    </div>

    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center">Search Result in <br><span style="color: crimson;">CASH OUTFLOW</span> </h4>
                {% for items in search.cash_out %}
                <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                    <div class="text-md-center text-xl-left">
                        <h6 class="mb-1">{{items.remarks|title}}</h6>
                        <h6 class="mb-1">{{items.mode|title}}</h6>
                        <p class="text-muted mb-0 "><em>Added @ {{items.date}} <br> Updated @ {{items.modified_at}} </em></p>
                    </div>
                    <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                        <h6 class="font-weight-bold mb-0">{{items.pay_to|title}} <br><br> {{items.amount}} </h6>
                    </div>
                </div>
                {% empty %}
                <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                    <div class="text-md-center text-xl-left">
                        <h6 class="mb-1">No Items Found</h6>
                    </div>
                </div>
                {% endfor %}  
            </div>
        </div>
    </div>
    
</div>

{% endblock content %}